$icon-font-path: '../fonts/';

$red:#D62839;
$blue:#0000FF;
$purple:#8000ff;
$gray:#999;
$green:#00A896;
$toupe: rgba(191, 184, 176, 1);
$font-family-sans:'Roboto', 'Helvetica Neue', sans-serif;

// bower:scss
@import "bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
// endbower

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* Space out content a bit */
body {
  padding-top: 0px;
  font-family: roboto, sans-serif;
  background-color: $toupe;

  *{
    &:focus {
      outline: none;
    }
  }
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {


  /* Make the masthead heading the same height as the navigation */
  h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
    padding-bottom: 19px;
  }
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
  .btn {
    font-size: 21px;
    padding: 14px 24px;
  }
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;
  p + h4 {
    margin-top: 28px;
  }
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
    // max-width: 730px;
  }

  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }

  /* Space out the masthead */
  .header {
    margin-bottom: 0px;
  }

  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}

header {
  background-color: $toupe;
  height: 75px;
  width: 100vw;
  position: fixed;
  left: 75px;
  z-index: 99;
  display: flex;
  align-items: center;

  a {
    padding-left: 75px;
    color: #000;
    font-size: 22px;
    text-decoration: none;
    font-weight: Roboto, sans-serif;
    font-size: 16px;

    &.search img {
      width: 25px;
      height: 25px;
      float: right;
    }

    &:hover, &:visited, &:active {
      text-decoration: none;
      color: #000;
    }

    &.current_page {
      color: rgb(128, 0, 255);
    }
  }
}

div.sidebar {
  width: 75px;
  height: 100vh;
  background: $toupe;
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;

  .home_logo a img {
    width: 40px;
    height: auto;
    padding-top: 20px;
  }

  .sub_logo {
    display: flex;
    flex-direction: column;

    a img {
      width: 40px;
      margin: 20px 0px 0px;
    }
  }

  .lower_icons {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 100vh;
    padding-bottom: 30px;
    align-items: center;

    a {
      padding-top: 20px;

      &.about_link {
        color: #000;
        transform: rotate(270deg);
        text-align: center;
        line-height: 40px;
        vertical-align: middle;
        font-size: 16px;
        padding-top: 0px;

        &:hover {
          text-decoration: none;
        }
      }

      img {
        width: 30px;
        height: auto;
      }
    }
  }
}

.main_content {
  height: 100vh;
  padding: 75px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

  .artist_wrapper {
    display: flex;
    justify-content: space-between;
    position: relative;
    margin-top: 75px;
    margin-bottom: 75px;


    .artist_img_wrapper {
      position: relative;
      display: inline-block;
      width: 45%;

      img {
        width: 100%;
      }
    }

    .artist_desc_wrapper {
      position: relative;
      display: inline-block;
      width: 45%;
      left: 0px;
      margin: 0px 0px;
      padding: 20px 32px;

      .page_title {
        position: absolute;
        z-index: 98;
        right: 0%;
        top: -7%;
        color: rgb(128, 0, 255);
        font-family: quicksand;
        font-weight: 400;
      }

      .artist_name_wrapper {
        padding: 40px 0px;
        color: rgb(51, 51, 51);

        img {
          width: 40px;
          float: left;
        }

        h3 {
          font-family: quicksand;
          font-weight: 400;
          font-size: 36px;
          line-height: 39px;
          margin-left: 55px;
        }

        p {
          font-size: 16px;
          margin-top: 10px;
        }
      }

      .music_player_wrapper {
        width: 100%;
        height: 120px;
        color: #fff;
        background-color: rgb(128, 0, 255);
        position: absolute;
        bottom: 5%;
        display: flex;
        align-items: center;
        justify-content: center;
        padding-left: 20px;

        .play_bar_wrapper {
          width: 70%;
          display: flex;
          align-items: center;

          .play_btn {
            height: 50px;
            width: 50px;
            border: 3px solid #fff;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
          }

          .progress_bar {
            border-bottom: 3px solid #fff;
            width: 70%;

            p {
              margin: -20px 0px 0px;
              width: 100%;
            }
          }
        }

        .cta_wrapper {
          width: 30%;

          button {
            padding: 10px 30px;
            background: transparent;
            border: 3px solid #fff;

            &:hover {

            }
          }
        }
      }
    }
  }

  .desc_levels {
    display: flex;
    justify-content: space-between;
    .long_desc_wrapper {
      width: 55%;
      padding-left: 15px;
      p {
        font-size: 20px;
        line-height: 28px;
      }
    }

    .levels_wrapper {
      width: 40%;
      background: #fff;
      height: 300px;
    }
  }
}


// Search Modal / Donate Modal
@mixin scaledown {
  -webkit-transform: scale(0);
	    -ms-transform: scale(0);
	        transform: scale(0);
}

@mixin scaleup {
  -webkit-transform: scale(1);
	    -ms-transform: scale(1);
	        transform: scale(1);
}

body.search-open {
	overflow: hidden;
}

.close {
	position: absolute;
	top: 2rem;
	right: 2rem;
	background: none;
	border: 0;
	font-size: 1rem;
	font-weight: 700;
	display: block;
	cursor: pointer;
	color: black;
  padding: 1rem 1.25rem;
	background: white;
	border-radius: 50%;
  outline: none;
}

.search-box.search-elem,
.search-box.donate-elem {
	margin: 0;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 100;
	background: rgba(0, 0, 0, 0.9);
	transition: all .3s  ease-in-out;
	@include scaledown;

	.inner {
		width: 70%;
		margin: 0 auto;
		position: relative;
		top: 20%;
		transform: translateY(-20%);
	}

	label {
		color: white;
		font-weight: 300;
		font-family: $font-family-sans;
	}

	button.submit {
		outline: none;
	  position: absolute;
	  top: 0;
	  right: 15px;
	  height: 70px;
    padding: 10px 2rem;
	  background: $green;
	  font-family: $font-family-sans;
	  font-size: 1rem;
	  color: white;

	    &[disabled] {
	    	background: #ccc;
	    	color: $purple;
	    }
	}

	input[type="text"] {
		padding: 20px;
		height: 72px;
    width: 100%;
		font-size: 32px;
		font-family: $font-family-sans;
		font-weight: 300;
    color: #fff;
		border: none;
		border-bottom: solid 2px #fff;
		transition: border 0.3s;
		border-radius: 0;
    background: transparent;

		&:focus {
      box-shadow: none;
      outline: none;
		}
	}

	label.placeholder {
		position: absolute;
		top: 10px;
		left: 2rem;
		font-size: 32px;
		font-weight: 300;
		font-family: roboto;
		color: #fff;
		transition: all .3s;

		&.move-up {
			top: -50px;
			color: rgb(128, 0, 255);
			font-size: 52px;
      font-family: quicksand;
		}
	}
}

.search-box.search-elem.search-open,
.search-box.donate-elem.search-open {
	@include scaleup;
}

.search-box.donate-elem.search-open {
  .donate_wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

    .box {
      background-color: #fff;
      width: 50%;
      padding: 70px 70px;

      .artist_name_wrapper {
        padding-bottom: 30px;
        div {
          display: flex;
          flex-direction: row;
          align-items: center;
          h3 {
            padding-left: 15px;
            font-family: quicksand;
            font-weight: 400;
            font-size: 36px;
          }
          img {
            width: 40px;
            height: 40px;
          }
        }
      }

      .bonus_section {
        width: 100%;

        p {
          color: $blue;
        }
        select {
          width: 100%;
          height: 50px;
          border-radius: 0;
          border: 2px solid $blue;
          -webkit-appearance: none;
          padding: 3px 10px;
          margin-bottom: 40px;
        }

        .bottom_row {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          position: relative;

          input {
            border-bottom: 2px solid $blue;
            width: 60%;
          }

          .add_to_cart_wrapper {
            background: $purple;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 0px 20px;

            button {
              background: transparent;
              padding: 10px 20px;
              border: 2px solid #fff;
              color: #fff;
            }
          }
        }
      }
    }
  }
}



.search-btn {
	text-transform: uppercase;
	font-family: $font-family-sans;
	font-size: 0.875rem;
	padding: 0 10px;
  display: inline-block;

	&:hover {
		color: #00A896;
	}
}

.donate_wrapper {
  display: none;
}
