.full-wrapper {
  width: 100%;
  height: 100%;
  float: none;
  clear: none;
  border-radius: 50%;
  font-size: 16px;
  font-weight: 400;
}

.side-menu {
  position: fixed;
  left: 0px;
  width: 75px;
  height: 100%;
  min-height: 100vh;
  background-color: transparent;
  color: transparent;
}

.body {
  overflow: visible;
  padding-top: 0px;
  border-left-style: none;
  border-left-color: #000;
  background-color: #fff;
  font-size: 16px;
}

.logo {
  display: block;
  width: 40px;
  margin-top: 20px;
  margin-right: auto;
  margin-left: auto;
  padding-top: 0px;
  padding-left: 0px;
  text-align: center;
}

.logo-wrapper {
  width: 100%;
  margin-right: 0px;
  margin-bottom: 20px;
  margin-left: 0px;
  padding-left: 0px;
}

.circle-wrapper {
  margin-top: 20px;
}

.circle {
  width: 32px;
  height: 32px;
  margin-right: auto;
  margin-bottom: 20px;
  margin-left: auto;
  background-color: transparent;
}

.social-wrapper {
  position: absolute;
  left: 0px;
  right: 0px;
  bottom: 0px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.social-icon {
  width: 30px;
  padding-bottom: 20px;
}

.fb-icon {
  height: 45px;
}

.text-block {
  margin-bottom: 10px;
  -webkit-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  transform: rotate(-90deg);
  font-family: 'Open Sans', sans-serif;
  color: #000;
  font-size: 16px;
  font-weight: 600;
  text-decoration: none;
}

.link-block {
  padding-bottom: 20px;
  font-weight: 400;
  text-decoration: none;
}

.top-header {
  position: relative;
}

.link-block-2 {
  margin-left: 75px;
}

.div-block {
  margin-left: 75px;
  padding-left: 75px;
}

.features-link-wrapper {
  margin-bottom: 70px;
  margin-left: 75px;
  padding-top: 20px;
  padding-left: 75px;
  clear: both;
}

.header-links {
  font-family: Roboto, sans-serif;
  color: #8000ff;
  font-size: 16px;
  font-weight: 400;
  text-decoration: none;
}

.text-block-2 {
  margin-right: 45px;
  font-size: 18px;
  font-weight: 700;
}

.past-features {
  display: inline-block;
  margin-right: auto;
  color: #8000ff;
  font-weight: 400;
}

.features {
  display: inline-block;
  margin-right: 45px;
  color: #000;
}

.search-wrapper {
  width: 25px;
  height: 25px;
  margin-right: 40px;
  float: right;
  clear: both;
}

.main-content-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 50px;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
}

.main-content-wrapper.container {
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-align-content: space-around;
  -ms-flex-line-pack: distribute;
  align-content: space-around;
}

.artist-image-wrapper {
  position: relative;
  display: inline-block;
}

.image {
  display: block;
  padding-top: 20px;
  padding-bottom: 20px;
}

.section {
  display: inline;
  width: 475px;
}

.feature-desc-wrapper {
  position: static;
  top: 0px;
  right: 0px;
  bottom: 0px;
  width: 475px;
  margin-left: 0px;
  float: right;
}

.relative {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  padding-top: 65px;
  padding-right: 20px;
  padding-left: 20px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  background-color: hsla(30, 10%, 72%, .67);
}

.features-heading {
  position: absolute;
  top: -27.5px;
  right: -5px;
  height: 55px;
}

.heading {
  padding-top: 5px;
  padding-bottom: 5px;
}

.features-label {
  display: inline;
  padding-right: 5px;
  padding-left: 5px;
  font-family: Quicksand, sans-serif;
  color: #8000ff;
  font-weight: 400;
}

.artist-name-wrapper {
  background-color: transparent;
}

.top-half {
  margin-bottom: 0px;
}

.bottom-half {
  margin-top: -5px;
}

.image-2 {
  position: relative;
  top: 0px;
  margin-right: 10px;
}

.image-3 {
  position: relative;
  top: 0px;
  margin-right: 10px;
}

.heading-2 {
  display: inline-block;
  margin-top: 0px;
  padding-top: 5px;
  padding-bottom: 5px;
  font-family: Quicksand, sans-serif;
  font-size: 24px;
  font-weight: 400;
}

.paragraph {
  margin-top: 10px;
  font-family: Roboto, sans-serif;
  font-weight: 400;
}

.paragraph.artist-desc {
  margin-bottom: 100px;
}

.cta-section-wrapper {
  position: relative;
  bottom: 36px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 475px;
  height: 120px;
  padding: 35px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #8000ff;
}

.play-btn {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 48px;
  height: 48px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border: 3px solid #fff;
  border-radius: 50%;
  background-color: transparent;
}

.play-symbol {
  padding-left: 3px;
}

.div-block-3 {
  position: absolute;
  left: 0px;
  top: 0px;
  display: block;
  width: 215px;
  height: 2px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.song-progress-bar {
  display: inline-block;
  width: 215px;
  height: 2px;
  margin-right: 35px;
  clear: right;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  background-color: #fff;
}

.cta-btn {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 120px;
  height: 50px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  align-self: center;
  -webkit-box-ordinal-group: 2;
  -webkit-order: 1;
  -ms-flex-order: 1;
  order: 1;
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
  border: 3px solid #fff;
  background-color: transparent;
}

.cta-btn-text {
  font-family: 'Open Sans', sans-serif;
  color: #fff;
  font-size: 16px;
  font-weight: 400;
}

.div-block-6 {
  position: absolute;
}

.song-title-wrapper {
  position: absolute;
  left: 85px;
  top: 35px;
  height: 20px;
}

.text-block-3 {
  position: relative;
  background-color: transparent;
  font-family: 'Open Sans', sans-serif;
  color: #fff;
  font-weight: 300;
}

.next-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-left: 15px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.carousel-selector-wrapper {
  position: fixed;
  left: 0px;
  right: 0px;
  bottom: 0px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
  -ms-flex-align: end;
  align-items: flex-end;
}

.list-item {
  display: inline-block;
}

.list-item.carousel-dash {
  display: inline-block;
  height: 65px;
  margin-right: 10px;
  margin-left: 10px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
  -ms-flex-align: end;
  align-items: flex-end;
  border-style: none;
  border-left-width: 1px;
  border-left-color: red;
  background-color: transparent;
}

.list-item-2 {
  display: inline-block;
}

.div-block-7 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 5px;
  height: 40px;
  background-color: red;
}

.div-block-7.active {
  height: 50px;
  background-color: blue;
}

.unordered-list {
  display: block;
  margin-bottom: -30px;
  -webkit-align-self: flex-end;
  -ms-flex-item-align: end;
  align-self: flex-end;
}

.view-campaign-wrapper {
  position: absolute;
  top: 31px;
  right: -42px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  opacity: 0;
}

.text-block-4 {
  position: relative;
  z-index: 999;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  color: blue;
}

.div-block-8 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 32px;
  height: 32px;
  margin-right: 5px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border: 2px solid blue;
  border-radius: 50%;
}

.search-window {
  position: absolute;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  z-index: 9999;
  display: none;
  width: 100vw;
  height: 100vh;
  border-style: none none solid;
  border-width: 1px 1px 2px;
  border-color: #000;
  background-color: rgba(0, 0, 0, .81);
}

.search-window.container-fluid {
  display: none;
  margin-top: 1px;
}

.div-block-9 {
  padding-top: 20px;
  padding-right: 20px;
  float: right;
}

.section-2 {
  margin-top: 70px;
}

.container {
  margin-top: 100px;
}

.heading-3 {
  display: inline-block;
  margin-top: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
  background-color: transparent;
  font-family: 'Open Sans', sans-serif;
  color: #8000ff;
  font-weight: 300;
}

.text-field {
  height: 135px;
  margin-top: -40px;
  padding: 0px 0px 3px;
  border-style: none none solid;
  border-width: 1px 0px 3px 1px;
  border-color: #000 transparent #fff #000;
  background-color: transparent;
}

.div-block-10 {
  display: block;
}

.div-block-11 {
  width: 550px;
  float: left;
}

.div-block-12 {
  position: relative;
  display: inline-block;
  width: 330px;
  padding: 36px 24px 30px;
  float: right;
  background-color: #fff;
}

.paragraph-2 {
  display: inline-block;
  float: left;
  background-color: #fdd1de;
}

.text-block-5 {
  margin-bottom: 10px;
  background-color: #fdd1de;
}

.text-block-6 {
  margin-bottom: 10px;
  color: blue;
}

.heading-4 {
  display: inline-block;
  margin-top: 10px;
  background-color: #fdd1de;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
}

.text-block-7 {
  margin-bottom: 10px;
}

.text-block-8 {
  display: inline-block;
  margin-bottom: 10px;
  background-color: #fdd1de;
  font-family: 'Open Sans', sans-serif;
}

.div-block-13 {
  position: relative;
  left: -33px;
  width: 110px;
  height: 2px;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: -30px;
  background-color: rgba(0, 0, 0, .45);
}

.text-block-9 {
  margin-bottom: 10px;
}

.div-block-14 {
  position: absolute;
  left: -30px;
  top: -18px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 225px;
  height: 40px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.text-block-10 {
  padding-top: 8px;
  padding-bottom: 8px;
  background-color: #fdd1de;
  font-family: 'Open Sans', sans-serif;
  font-size: 31px;
  font-weight: 600;
}

.div-block-15 {
  position: absolute;
  left: 0px;
  top: 65px;
  right: 0px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 70px;
  height: 30px;
  margin-right: auto;
  margin-left: auto;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-align-self: flex-start;
  -ms-flex-item-align: start;
  align-self: flex-start;
}

.div-block-16 {
  position: relative;
  left: 0px;
  top: 0px;
  right: 0px;
}

.div-block-17 {
  position: absolute;
  left: 0px;
  top: 0px;
}

.add-to-cart-modal.container-fluid {
  position: absolute;
  z-index: 9999;
  display: none;
  width: 100vw;
  height: 100vh;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-style: none;
  border-top-width: 1px;
  border-top-color: #000;
  border-right-width: 1px;
  border-right-color: #000;
  background-color: rgba(0, 0, 0, .8);
}

.container-2 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 100vh;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.div-block-18 {
  padding: 25px 75px;
  background-color: #fff;
}

.select-field {
  width: 440px;
  border: 1px solid blue;
  border-radius: 0px;
  background-color: #fff;
}

.field-label {
  font-family: 'Open Sans', sans-serif;
  color: blue;
  font-weight: 600;
}

.form {
  position: relative;
  margin-top: 25px;
}

.text-field-2 {
  width: 275px;
  height: 80px;
  margin-top: 25px;
  padding-bottom: 20px;
  padding-left: 0px;
  float: left;
  border-style: none none solid;
  border-width: 1px 1px 2px;
  border-color: #000 #000 blue;
  font-size: 60px;
  line-height: 30px;
}

.submit-button {
  padding: 17px 25px;
  clear: left;
  border: 3px solid #fff;
  background-color: #8000ff;
}

.div-block-19 {
  position: absolute;
  top: 0px;
  right: -100px;
  bottom: 0px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 225px;
  height: 120px;
  float: left;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #8000ff;
}

.row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
  -ms-flex-align: end;
  align-items: flex-end;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.col-md-4 {
  width: 30%;
  margin: 10px 5px;
  float: left;
  clear: none;
}

.past-feature-item {
  background-color: transparent;
}

.past-feature-item-name {
  padding-top: 10px;
  padding-right: 10px;
  padding-left: 12px;
  background-color: #beb7b0;
}

@font-face {
  font-family: 'Quicksand';
  src: url('../fonts/Quicksand-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Quicksand';
  src: url('../fonts/Quicksand-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'Quicksand';
  src: url('../fonts/Quicksand-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'Quicksand';
  src: url('../fonts/Quicksand-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}
